<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>
	{% load staticfiles %}
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="果动网，在线预定场地" />
    <meta name="subject" content="运动、运动场地预定">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>许可条款</title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "img/iconfont-dong.png" %}" />
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "img/iconfont-dong-72x72.png" %}" />
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "img/iconfont-dong-114x114.png" %}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{% static "img/iconfont-dong-144x144.png" %}" />

	<!-- CSS -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">


	<!-- Add custom CSS here -->
	<link href="{% static "css/custom.css" %}" rel="stylesheet">
	<!-- JavaScript Files -->

	<!--[if lt IE 9]>
      	<script src="{% static "js/html5shiv.js" %}"></script>
	      <script src="{% static "js/respond.js" %}"></script>
	<![endif]-->


<div class="body">

<!-- Header -->
<header>
	 
	<nav class="navbar navbar-inverse navbar-fixed-top ">
      <div class="container">
      <!-- 自适应布局 -->
        <div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#page-top">
				<i class="iconfont"></i><div class="logozi"><b> 果动网</b><br><i></i></div>
				</a>
			</div>
        <!-- 自适应布局结束 -->
         <div id="navbar" class="navbar-collapse collapse navbar-main-collapse top-menu">
          <ul class="nav navbar-nav">
            <!-- <li class="page-scroll active"><a href="#home.html">主页</a></li> -->
            <li class="page-scroll"><a href="/index#home" >关于我们</a></li>
            <li class="page-scroll"><a href="/index#team" >团队介绍</a></li>
            <li class="page-scroll"><a href="/index#testimonials" >入驻商家</a></li>
            <li class="page-scroll"><a href="/index#contact" >联系我们</a></li>
            <li class="page-scroll"><a href="/index#download" >手机客户端下载</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">场馆介绍<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#badminton">羽毛球馆</a></li>
                <li><a href="#swimming">游泳馆</a></li>
                <li><a href="#basketball">篮球馆</a></li>
                <li><a href="#billiards">台球馆</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">敬请期待</li>
                <li><a href="#">其他场馆1</a></li>
                <li><a href="#">其他场馆2</a></li>
              </ul>
            </li>
            <ul class="nav navbar-nav navbar-right re-log">
        		<li class="page-scroll"><a href="/register" class="navbar-link" target="blank">注册</a></li>
        		<li class="page-scroll"><a href="/login" class="navbar-link" target="blank">登录</a></li>
        	</ul>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>
<!-- Header -->
<body>
	
	<div class="container">
		<h1>果动网使用协议</h1> <br>
	<h3>本协议由您与果动网共同缔结，本协议具有合同效力。</h3>   <br>
	<h4>
一、定义 <br>
用户，包含注册用户和非注册用户。注册用户是指通过www.guodongs.com完成全部注册程序后，使用果动网平台服务的用户。<br>
非注册用户是指未进行注册、直接登录www.guodongs.com或通过其他网站进入www.guodongs.com使用果动网平台服务的用户。<br>    
协议方，本协议中协议双方合称协议方。果动吧小组信息发布平台在协议中统称为"果动网"，通过果动网平台（www.guodongs.com）为您提供服务。   <br>
</h4>
<h4>二、 协议的效力 </h4>
<h4>
1、在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他果动网允许的方式实际使用果动网平台服务时，您即受本协议的约束。在注册时，您应当按照法律法规要求，或注册页面的提示，准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便果动网或其他会员与您进行有效联系。如您的资料发生变更，您应及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，果动网有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部服务。由此导致您在使用果动网平台服务过程中产生任何损失或增加费用的，应由您完全独自承担。  <br>
2、 对于您提供的资料及数据信息，您授予果动网独家的、全球通用的、永久的、免费的许可使用权利。您同意，果动网有权(全部或部分地) 使用、复制、更正、发布、翻译、分发、执行和展示您的资料数据（包括但不限于注册资料、行为数据及全部展示于果动网平台的各类信息）或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。<br>
3、 您应当在使用果动网平台服务之前认真阅读全部协议内容。如您对协议有任何疑问的，应向果动网咨询。但无论您事实上是否在使用果动网平台服务之前认真阅读了本协议内容，只要您使用果动网平台服务，则本协议即对您产生约束，届时您不应以未阅读本协议的内容或者未获得果动网对您问询的解答等理由，主张本协议无效，或要求撤销本协议。<br>
4、 本协议内容包括协议正文及所有果动网已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的组成部分，与协议正文具有同等法律效力。除另行明确声明外，任何果动网及其关联公司提供的服务（以下称为果动网平台服务）均受本协议约束。您承诺接受并遵守本协议的约定。如果您不同意本协议的约定，您应立即停止注册程序或停止使用果动网平台服务。<br>
<br>
<br>
<div class="form-group">
      	<div class="col-sm-offset-2 col-sm-10 submit">
         	<button type="submit" class="btn btn-success" onclick="window.open('', '_self', ''); window.close();">关闭</button>
      	</div>
   	</div>
	</div>

</body>
